/*  your css code here. If applicable */
.container{
	background-color:black;
	color:rgb(255, 255, 255);
	height:20px;
	font-size:20px;
	margin:1px;
}
:root {
  background:rgb(135,206,235);
}
/* p:first-child{
	color:black;
} */
p:nth-child(2){
	color:black;
}
p:last-child{
	color:red;
}
li{
	background-color:white;
	width:350px;
}
li:nth-child(2){
	background-color:grey;
}
li:nth-child(3){
	background-color:pink;
}
li:nth-child(4){
	background-color:grey;
}



